.navbar-brand{
	font-size: 20px;
	font-weight: bold;
}

#services{
	padding: 80px 0;
}

.sub-service{
	width: 100%;
	height: auto;
	border-radius: 5px;
	background-color: #FFBDE6;
	padding: 40px;
	border: 0.5px solid #CE7BB0;
}


.form-signin {
  width: 100%;
  max-width: 300px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 300;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: 50px;
  padding: 10px;
  font-size: 16px;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
 }